img.imgFile {
    width: 100px;
    height: 100px;
}

body {
    background-color: #cccccc;
    font-family: sans-serif, tahoma, gulim;
    font-size: 10pt;
}

div.header {
    width: 100%;
    margin-top: 20px;
}

div.header ul {
    list-style: none;   
}

div.header li {
    float: left;
    list-style-position: inside;
    padding-left: 20px;
    padding-right: 20px;
}

div.wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

div.wrapper60 {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.wrapper form fieldset {
    margin: 0 auto;
    height: 20px;
    margin-left: 60%;
    padding: 10px 10px 10px 10px;
    border-style: inherit;
}

.wrapper input.writeBt {
    height: 35px;
    width: 100px;
}

.wrapper input.boardSubject{
    width: 85%;
    height: 20px;
    margin-right: 5%;
}

.wrapper textarea{
    width: 85%;
    height: 300px;
    margin-right: 5%;
}

table {
    width: 100%;
    border-style: inherit;
    vertical-align: top;
}

th{
    height: 35px;
    background-color: #b0e0e6;
    padding: 2px 2px 2px 2px;
}
td{
    height: 30px;
    border-bottom-style: outset;
    padding: 2px 10px 2px 10px;
}

tr{
    background-color:white ;
}

tr.mouseover{
    background-color:#DDDECB;
}


table.write{
    width: 100%;
    border-style: inherit;
    vertical-align: top;
    background-color: white;    
}

table.write th{
    height: 35px;
    background-color: #b0e0e6;
    padding: 2px 2px 2px 2px;
}

table.write td{
    height: 35px;
    padding: 2px 2px 2px 2px;
    text-align: left
}

table.write input{
    height: 20px;
    margin-right: 5%;
}

table.write input[type=text] {
    width: 85%;
}




table.view {
    width: 100%;
    border-style: inherit;
    vertical-align: top;    
}
.view th{
    height: 25px;
    background-color: #b0e0e6;
    padding: 5px 5px 5px 5px;
}
.view td{
    height: 20px;
    padding: 5px 10px 5px 10px;
    text-align: left
}

span.date {
    font-size: 8pt;
    color: #666666;
}

A:link    { color: black; text-decoration:none; }
A:visited { color: black; text-decoration:none; }
A:active  { color: black; text-decoration:none; }
A:hover   { color: #666666; text-decoration:none; }

A.page:link    { font-size: 11pt; color: black; text-decoration:none; }
A.page:visited { font-size: 11pt; color: black; text-decoration:none; }
A.page:active  { font-size: 11pt; color: black; text-decoration:none; }
A.page:hover   { font-size: 11pt; color: #666666; text-decoration:none; }