.left {
    text-align: left;
}

tr.mouseover{
    background-color:#DDDECB;
}

tr{
    background-color:white ;
}


body {
	background-color: #cccccc;
	font-family: sans-serif, tahoma, gulim;
	font-size: 10pt;
}

div.header {
	width: 100%;
	margin-top: 20px;
}

div.header ul {
	list-style: none;	
}

div.header li {
	float: left;
	list-style-position: inside;
	padding-left: 20px;
	padding-right: 20px;
}

div.wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

div.wrapper60 {
	width: 60%;
	margin: 0 auto;
	text-align: left;
}

.wrapper form fieldset {
	margin: 0 auto;
	height: 20px;
	margin-left: 60%;
	padding: 10px 10px 10px 10px;
	border-style: inherit;
}

.wrapper input.writeBt {
	height: 35px;
	width: 100px;
}

.wrapper input.boardSubject{
	width: 85%;
	height: 20px;
	margin-right: 5%;
}

.wrapper textarea.boardContent{
	width: 85%;
	height: 300px;
	margin-right: 5%;
}

.wrapper textarea.simpleNotice{
	width: 85%;
	height: 100px;
	margin-right: 5%;
}


.wrapper input.pushSubject{
	width: 85%;
	height: 20px;
	margin-right: 5%;
}

.wrapper textarea.pushContent{
	width: 85%;
	height: 80px;
	margin-right: 5%;
}


table.boardTable {
	width: 100%;
	border-style: inherit;
	vertical-align: top;
}

.boardTable th{
	height: 35px;
	background-color: #b0e0e6;
	padding: 2px 2px 2px 2px;
}
.boardTable td{
	height: 30px;
	border-bottom-style: outset;
	padding: 2px 10px 2px 10px;
	text-align: left;
}

.boardTable td.idx{
	width: 7%;
}

.boardTable td.subject{
	width: 45%;
}

.boardTable td.writer{
	width: 10%;
}

.boardTable td.comment{
	width: 7%;
}

.boardTable td.hitcount{
	width: 7%;
}

.boardTable td.recommendcount{
	width: 7%;
}

.boardTable td.writeDate{
	width: 17%;
}


table.boardWrite{
	width: 100%;
	border-style: inherit;
	vertical-align: top;
	background-color: white;	
}

table.boardWrite th{
	height: 35px;
	background-color: #b0e0e6;
	padding: 2px 2px 2px 2px;
}

table.boardWrite td{
	height: 35px;
	padding: 2px 2px 2px 2px;
	text-align : left
}




table.boardView {
	width: 100%;
	border-style: inherit;
	vertical-align: top;	
}
.boardView th{
	height: 25px;
	background-color: #b0e0e6;
	padding: 5px 5px 5px 5px;
}
.boardView td{
	height: 20px;
	padding: 5px 10px 5px 10px;
}

table.commentView {
	width: 100%;
	border-style: none;
}
.commentView th{
	height: 25px;
	background-color: #b0e0e6;
	padding: 5px 5px 5px 5px;
}
.commentView td.writer{
	width: 20%;
	padding: 5px 10px 5px 10px;
}
.commentView td.content{
	width: 80%;
	padding: 5px 10px 5px 10px;
}
textarea.commentForm{
	width: 80%;
	height: 50px;
}
input.commentBt{
	margin-left: 2%;
	width: 15%;
}

span.date {
	font-size: 8pt;
	color: #666666;
}

span.gray{
	font-size: 8pt;
	color: #666666;
}

A:link    { color: black; text-decoration:none; }
A:visited { color: black; text-decoration:none; }
A:active  { color: black; text-decoration:none; }
A:hover   { color: #666666; text-decoration:none; }

A.page:link    { font-size: 11pt; color: black; text-decoration:none; }
A.page:visited { font-size: 11pt; color: black; text-decoration:none; }
A.page:active  { font-size: 11pt; color: black; text-decoration:none; }
A.page:hover   { font-size: 11pt; color: #666666; text-decoration:none; }