body {
	background-color: #cccccc;
	font-family: sans-serif, tahoma, gulim;
	font-size: 10pt;
}
div.wrapper {
	width: 100%;
	margin: 0 auto;
}
.wrapper form fieldset {
	width: 100%;
	background-color: white;
	padding: 2% 2% 2% 2%;
	border-bottom-style: outset;
	border-color: #999999;
}
.wrapper form input.loginInput {
	width: 35%;
	height: 20px;
	margin: 1% 2% 1% 2%;
}
.wrapper form input.submitBt {
	width: 20%;
	height: 50px;
	margin: 1% 2% 1% 2%;
}

span.error {
	font-size: 8pt;
	color: red;
	padding-left: 1%;
}

div.nav {
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.nav ul {
	list-style: none;	
}

div.nav li {
	float: left;
	list-style-position: inside;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
}


A:link    { color: black; text-decoration:none; }
A:visited { color: black; text-decoration:none; }
A:active  { color: black; text-decoration:none; }
A:hover   { color: #666666; text-decoration:none; }



