.box1{border-bottom:1px solid #c5c5c5;background:#fff}
.box2{border-bottom:1px solid #c5c5c5;background:#f5f5f5}
.box3{border:0;background:#fff}
.box1+.box1{margin-top:-1px}
.box1+.box2{margin-top:-1px}
.box1+.box3{margin-top:-1px}
.box2+.box3{margin-top:-1px}
.box3+.box3{margin-top:-1px}

<!--hyunkyu -->
.type_a a{display:block;padding:8px 10px;font-size:15px;line-height:19px}
.type_a{position:relative;border-top:1px solid #b2b2b2;border-bottom:1px solid #f5f5f5;text-shadow:0 1px rgba(255,255,255,1)}
.type_a a{display:block;position:relative;color:#fff}
.type_a a h2{color:#000}
.type_a h2 span{color:#3449aa}
.type_a h2+span em{letter-spacing:0}
.type_a h2+span{position:absolute;right:0;top:0;padding:1px 10px 0 0;font-size:11px;line-height:31px;letter-spacing:-1px;color:#888}
.type_a a h2+span{padding-right:28px;margin-top:8px;font-size:12px;-webkit-background-size:50px 500px}
.type_a a h2+span strong{margin-right:2px;font-size:18px;letter-spacing:0;color:#32a800}
