@charset "utf-8";html,body{width:100%}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-size:14px;font-family:'Helvetica Neue';line-height:1.25em}
body{position:relative;background-color:#f4f4f4;color:#000;-webkit-text-size-adjust:none}