@charset "utf-8";html,body{width:100%}
.box1{border-bottom:1px solid #c5c5c5;background:#fff}
.box2{border-bottom:1px solid #c5c5c5;background:#f5f5f5}
.box3{border:0;background:#fff}
.box1+.box1{margin-top:-1px}
.box1+.box2{margin-top:-1px}
.box1+.box3{margin-top:-1px}
.box2+.box3{margin-top:-1px}
.box3+.box3{margin-top:-1px}
.type_a a:visited .rank_no{color:#fff}
.type_a a{display:block;padding:8px 10px;font-size:15px;line-height:19px}
.bfsize1 .type_a a{font-size:17px}
.bfsize2 .type_a a{font-size:19px}
.type_a.elip{padding-right:100px}
.type_a.elip a{display:inline-block;position:relative;max-width:100%;padding-right:5px}
.type_a.elip a>span:nth-child(1){display:inline-block;overflow:hidden;width:100%;white-space:nowrap;text-overflow:ellipsis}
.type_a.elip a .by{position:absolute;left:100%;top:10px}
.type_a.elip2 a span:nth-child(1){display:inline-block;overflow:hidden;max-width:100%;white-space:nowrap;text-overflow:ellipsis}
