.left {
    text-align: left;
}

tr.mouseover{
    background-color:#DDDECB;
}

tr{
    background-color:white ;
}


body {
	background-color: #cccccc;
	font-family: sans-serif, tahoma, gulim;
	font-size: 10pt;
}

div.header {
	width: 100%;
	margin-top: 20px;
}

div.header ul {
	list-style: none;	
}

div.header li {
	float: left;
	list-style-position: inside;
	padding-left: 20px;
	padding-right: 20px;
}

div.wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

div.wrapper60 {
	width: 60%;
	margin: 0 auto;
	text-align: left;
}

.wrapper form fieldset {
	margin: 0 auto;
	height: 20px;
	margin-left: 60%;
	padding: 10px 10px 10px 10px;
	border-style: inherit;
}


input.norifyLink {
    width : 85%;
}

.wrapper input.writeBt {
	height: 35px;
	width: 100px;
}

.wrapper textarea.simpleNotice{
	width: 85%;
	height: 100px;
	margin-right: 5%;
}


.wrapper input.pushSubject{
	width: 85%;
	height: 20px;
	margin-right: 5%;
}


table.boardTable {
	width: 100%;
	border-style: inherit;
	vertical-align: top;
}

.boardTable th{
	height: 35px;
	background-color: #b0e0e6;
	padding: 2px 2px 2px 2px;
}
.boardTable td{
	height: 30px;
	border-bottom-style: outset;
	padding: 2px 10px 2px 10px;
	text-align: left;
}


table.write{
	width: 100%;
	border-style: inherit;
	vertical-align: top;
	background-color: white;	
}

table.write th{
	height: 35px;
	background-color: #b0e0e6;
	padding: 2px 2px 2px 2px;
}

table.write td{
	height: 35px;
	padding: 2px 2px 2px 2px;
	text-align : left
}




table.view {
	width: 100%;
	border-style: inherit;
	vertical-align: top;	
}
.view th{
	height: 25px;
	background-color: #b0e0e6;
	padding: 5px 5px 5px 5px;
}
.view td{
	height: 20px;
	padding: 5px 10px 5px 10px;
}


textarea.commentForm{
	width: 80%;
	height: 50px;
}
input.commentBt{
	margin-left: 2%;
	width: 15%;
}


span.date {
	font-size: 8pt;
	color: #666666;
}

span.gray{
	font-size: 8pt;
	color: #666666;
}

A:link    { color: black; text-decoration:none; }
A:visited { color: black; text-decoration:none; }
A:active  { color: black; text-decoration:none; }
A:hover   { color: #666666; text-decoration:none; }

A.page:link    { font-size: 11pt; color: black; text-decoration:none; }
A.page:visited { font-size: 11pt; color: black; text-decoration:none; }
A.page:active  { font-size: 11pt; color: black; text-decoration:none; }
A.page:hover   { font-size: 11pt; color: #666666; text-decoration:none; }